.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	max-height: 410px;
	min-width: 100px;
	margin: 10px;
	padding: 10px;
	width: 100%;
	background-color: white;
	z-index: 1;
}

.product__title {
	margin-top: 10px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
}

.product__info {
	height: 100px;
}

.product__price {
	margin-top: 0px;
}

.product__rating {
	display: flex;
}

.product > img {
	width: 100%;
	max-height: 200px;
	object-fit: contain;
	margin-bottom: 15px;
	margin-top: 100px;
}

.product > button {
	background-color: #f0c140;
	border-color: #a88734 #9c7e31 #846a29;
}
